---
import Layout from "../../../layouts/Layout.astro";
---

<Layout>
  <main class="flex flex-wrap gap-4 justify-center h-full px-10 items-center">
    <div class="">
      <h1 class="text-center text-4xl">Tips & Tricks</h1>
      <h2 class="text-2xl">Wisps</h2>
      <p class="">
        If on a solo game the first wisp is always random but all wisps after
        that choose between the closest wisp location to itself either left or
        right of itself. If you are in a group game the wisps can be 1 position
        further away or more depending on the group size.
      </p>
      <h2 class="text-2xl">Weapons</h2>
      <p>
        The XM-53 is the best weapon for the boss fight. Pack a Punched or not
        it can 1 shot the keeper and does significant damage to panzers if aimed
        properly. The death machine is the best for panzers but impossible in
        boss room without gums.
      </p>
      <h2 class="text-2xl">Rocket Test</h2>
      <p>
        The rocket test can be activated by any drop spawning after a delay from
        the start of the game. This could be any drop from gums, panzers, or
        even the free death machine from the wall run.
      </p>
      <h2 class="text-2xl">Multiple Bows For Keeper</h2>
      <p>
        This is not a glitch, it it is not a ranked game the keeper needs all 4
        bows to be made to finish this step.
      </p>
    </div>
  </main>
</Layout>
